<ion-view view-title="Chat"  class="Proposals-page">
    <ion-content ng-controller="ProposalsController">
        <div class="content has-header padding-vertical padding-horizontal">
            <div class="list card">
                <div class="item">
                    <div class="col-34 left">
                        <img src="ref/cheers1L1.jpg">
                        <p class="time">10 min ago</p>
                    </div>
                    <div class="col-60 right">
                        <div class="item item-input message">
                            <p>"Hey Girls. Me and my buddy would like to join, but you gotta pay for your own damn drinks.."</p>
                        </div>
                    </div>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                       <img ng-click="Accept()" src="img/button/accept.jpg" class="submit-small"/>
                    </a>
                    <a class="tab-item" href="#">
                        <img ng-click="ChatFrist()" src="img/button/chat-first.jpg" class="submit-small"/>
                    </a>
                    <a class="tab-item" href="#">
                        <img ng-click="Reject()" src="img/button/reject.jpg" class="submit-small"/>
                    </a>
                </div>
            </div>
            <hr>
            <div class="list card">
                <div class="item">
                    <div class="col-34 left">
                        <img src="ref/Man-Smoking-Money--37253.jpg">
                        <p class="time">10 min ago</p>
                    </div>
                    <div class="col-60 right">
                        <div class="item item-input message">
                            <p> Cough cough cough!!!</p>
                        </div>
                    </div>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                       <img ng-click="Accept()" src="img/button/accept.jpg" class="submit-small"/>
                    </a>
                    <a class="tab-item" href="#">
                        <img ng-click="ChatFrist()" src="img/button/chat-first.jpg" class="submit-small"/>
                    </a>
                    <a class="tab-item" href="#">
                        <img ng-click="Reject()" src="img/button/reject.jpg" class="submit-small"/>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<div ng-controller="ProposalsController" class="Proposals-foot bar bar-footer bar-balanced ">

</div>