<ion-view ng-controller="LoginController" class="login-page">
    <ion-content>
        <div class="content has-header padding-vertical padding-horizontal">
            <div class="row row-center box-logo">
                <div class="col">
                    <img src="/img/logo.png" class="logo"/>
                </div>
            </div>
            <div class="row row-center">
                <div class="col">
                    <h2>Welcome to GoSpotting</h2>
                </div>
            </div>
            <div class="row row-center box-content">
                <div class="col">
                     <h3>See what people are up to right now</h3>
                      <h3>in your town or post on invite...</h3>
                </div>
            </div>
            <div class="row row-center row-button">
                <div class="col"><button ng-click="login()" class="button button-block button-positive">Signup With Facebook</button></div>
            </div>
        </div>
    </ion-content>
</ion-view>
