<ion-view view-title="Take a picture"  class="TakeAPicture-page">
    <ion-content ng-controller="TakeAPictureController">
        <div class="content has-header padding-vertical padding-horizontal">
            <div class="row row-center">
                <div class="col">
                    
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<div ng-controller="TakeAPictureController" class="LookForInvites-foot bar bar-footer bar-balanced ">
    <div class="foot-nav left">
        <img ng-click="RetakePhoto()" src="img/button/retake-photo.png" class="submit-small"/>
    </div>
    <div class="foot-nav right">
        <img ng-click="Next()" src="img/button/next2.png" class="submit-small"/>
    </div>
</div>